@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Oswald:700');

h1{
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  margin-left: 15px;


}
div#nud{
  border-bottom: 2px white solid;
  margin-top: 100px;
}
div#loja-1{
    position: absolute;
    margin-top: 25px;
    border: 2px white solid;
    height: 200px;
    width: 900px;
}
div#loja-2{
  position: absolute;
  width: 900px;
  margin-top: 250px;
  height: 200px;
  border: 2px white solid;
}

h2{
  color: white;
}
div#loja-1{
  color:white;
  margin-left: 40px;
}
img#imgl1{
  height: 170px;
  width: 300px;
}
div#loja-2{
  margin-left: 40px;
  color:white;
}
img#imgl2{
  height: 170px;
  width: 300px;
}
#texto-loja1{
  margin-top: -125px;
  position: absolute;
  margin-left: 310px;
}

#texto-loja2{
  margin-top: -125px;
  position: absolute;
  margin-left: 310px;
}
